*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    background-color: red;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

header{
    background-color: rgb(249, 245, 237);
}

nav{
    background-color: rgb(239, 235, 227);
    color: rgb(28, 117, 188);
    text-transform: uppercase;
}

nav h1{
    margin:0;
    padding: 0.4rem;
}

header > nav, article{
    text-align: center;
}

header img{
    margin: auto;
    display: block;
}

.recipes{
    background-color: rgb(249, 245, 237);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 5px;
}

.recipes li{
    list-style: none;
}

.recipes img{
    width: 300px;
    padding: 5px;
}

.recipes img {
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.recipes img:hover{
	opacity: 0.8;
}